<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioUnitPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8ABB3D031E8CFA35003850BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ABB3D1C1E8CFA35003850BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ABB3D271E8CFA35003850BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
